name: Build

on:
  push:
    branches: [ dev ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setting up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: oracle
          java-version: 21

      - name: Grant permissions to Gradlew
        run: sudo chmod +x ./gradlew

      - name: Setup and build
        run: ./gradlew build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: build/libs/*.jar

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub release with commit message
        run: |
          git fetch --prune --unshallow
          BRANCH_NAME=$(echo $GITHUB_REF | sed 's/refs\/heads\///')
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          gh release create "$BRANCH_NAME" build/libs/*.jar \
            --title "Automatic Build" \
            --notes "$COMMIT_MESSAGE"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
